/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #00aaff, #e2e4e7,orange);
}

/* Container Styling */
.container {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    width: 90%;
    max-width: 600px;
}



/* Heading 1 Styling */
h1 {
    color: #007bff;
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 3px solid hsl(0, 0%, 2%);
    display: inline-block;
    padding-bottom: 10px;
}

/* Heading 2 Styling */
h2 {
    color: hsl(38, 95%, 48%);
    font-size: 24px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
img {
    position: absolute; /* Position the image absolutely */
    top: 0;
    left: 0; /* Align the image to the top */
    padding-top: 10px;
    padding-left: 10px;
    

    right: 15;/* Align the image to the left */
    width: 200px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

/* Button Container Styling */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

/* Button Styling */
button {
    width: 45%;
    background-color: #007bff;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Button Hover Effect */
button:hover {
    background-color:  #ffa500;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    button {
        width: 100%;
        margin-bottom: 10px;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }
}